<div class="adoption-request">
  <h1>Solicitud de adopción</h1>
  <p>Adoptar es un acto de amor, pero sobre todo una responsabilidad de por vida.</p>
  <p>Por éste motivo es importante que veas el siguiente video donde te explicamos como va a ser todo el proceso de adopción.</p>
  <div class="video-container">
    <img src="../../assets/popUp/videoPopup.png" alt="">
  </div>
  <p>¿Quieres continuar con el proceso de adopción?</p>
  <div class="button-container">
    <button class="cancel-button">Cancelar</button>
    <button class="continue-button">Continuar</button>
  </div>
</div>