<section class="background-slide3">
    <div class="container-slide3">
<button (click)="eleccion()">
    <p class="x">X</p>
    </button>
    <button (click)="eleccion()">
<img src="../../assets/onboarding/undrawPetAdoption2Qkw@3x.png" alt="imagen grande">

<h3>Si eres una asociación<br>
    sube a tus peludos para <br>
    darles más difusión</h3>
    </button>
    <button (click)="irSlide2()" class="anterior"> < </button>
    <button (click)="eleccion()" class="siguiente"> > </button>
</div>
</section>
