<mat-tab-group>
    <mat-tab label="Datos">
        
        <div className="imagen.filtro">
            <div className="detalil">

                <div className='detail2'>
                    <div className="detail2-line">
                        <div><img src="" alt="" /> <span>Especie</span></div>
                        <div><span>animals.especie</span></div>
                    </div>
                    <div className="detail2-line">
                        <div><img src="" alt="" /> <span>Fecha de nacimiento</span></div>
                        <div><span>animals.fechaDeNacimiento</span></div>
                    </div>
                    <div className="detail2-line">
                        <div><img src="" alt="" /> <span>Sexo</span></div>
                        <div><span>animals.genero</span></div>
                    </div>
                    <div className="detail2-line">
                        <div><img src="" alt="" /> <span>Tamaño</span></div>
                        <div><span>animal.size</span></div>
                    </div>
                    <div className="detail2-line">
                        <div><img src="" alt="" /> <span>Peso</span></div>
                        <div><span>animals.peso</span></div>
                    </div>
                </div>

                <div className="c__navbar--data2">
                    <div className='detail3-title'><span>Personalidad</span></div>
                    <div className='detail3-father'>
                        <!-- personalidad.map((per, index) => <div className='detail3-personality'>
                            <span className="" key=index>per</span> -->
                        <!-- </div> -->
                    </div>
                </div>

                <div className="detail4">
                    <div className='detail4-title'>
                        <p>Historia</p>
                    </div>
                    <div className='detail4-text'>
                        <p>animals.historia</p>
                    </div>
                </div>
            </div>
        </div>
    
    </mat-tab>


    <mat-tab label="Salud"></mat-tab>

    <mat-tab label="Adopción"></mat-tab>
</mat-tab-group>

<div className="buttonAnimals">
    <div className="buttonAnimals2"><button onClick="" className="buttonAnimals3"> Apadrinar </button></div>
    <div className="buttonAnimals2"><button onClick="" className="buttonAnimals4"> Adoptar </button></div>
</div>
