.back {
    position: relative;
    height: 100vh; /* Establece la altura al 100% del viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(200px, 90vw, 600px);
    margin: 0 auto;
    

}

.container-slide1 {
    text-align: center;
}

img {
    max-width: 80%;
    max-height: 80%;
    display: block;
    margin: 0 auto;
    margin-left: 10%;
    margin-right: 10%;
}

h3 {
    margin-top: 35px;
    text-size-adjust:  100%;
    color: #c91616;
}

.siguiente {
    position: absolute;
    bottom: 20px; /* Ajusta la posición del botón hacia la parte inferior */
    left: 50%;
    transform: translateX(-50%);
    color: #c91616;
    margin-top: 35px; 
    margin-right: 20px;
    
}

.x { position: absolute; top: 10px; right: 10px; 
margin-top: 3%;
color: #c91616;
}
button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


