<div class="container">
  <img
    src="../../assets/login_logo/logo@3x.png"
    alt="Logo pequeño"
    class="logo"
  />
  <h2>¡Hola! para continuar, inicia sesión o crea cuenta</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
    <fieldset>
      <label class="block">
        <input type="text" formControlName="email" placeholder="Email" />
      </label>
      <div class="contraseña-ojo">
        <label class="label-contraseña">
          <input
            type="password"
            formControlName="password"
            placeholder="Contraseña"
            id="passwordInput"
            class="input-password"
          />

          <button
            type="button"
            class="eye-btn"
            (click)="showPassword()"
          >
            <img
              src="../../assets/primary_icons/little_icons_primary/ojo_little/ojo@3x.png"
              class="ojo"
            />
          </button>
        </label>
      </div>
    </fieldset>
    <p class="forgot-password">¿Has olvidado tu contraseña?</p>
    <button class="btn btn-login">Iniciar sesión</button>
    <button class="btn btn-create" (click)="register()">Crear cuenta</button>
  </form>
</div>
