.navContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;

  position: fixed;
  bottom: 0vh;
  left: 0vw;

  width: 100%;

  background-color: white;

  .navCard {
    height: 40px;
    width: 40px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
