<nav class="navContainer">
  <div class="navCard">
    <a [routerLink]="['/home']"
      ><img src="../../../assets/navBar/home@3x.png" alt="home"
    /></a>
  </div>
  <div class="navCard">
    <a href="https://www.google.com/maps"
      ><img
        src="../../../assets/primary_icons/little_icons_primary/localization_little/localization@3x.png"
        alt="direcciones"
    /></a>
  </div>
  <div class="navCard">
    <a [routerLink]="['/gallery']"
      ><img src="../../../assets/navBar/mascota@3x.png" alt="estado"
    /></a>
  </div>
  <div class="navCard-profile">
    <a [routerLink]="['/perfil']"
      ><img
        src="../../../assets/placeholder/photo_placeholder.jpg"
        alt="perfil"
    /></a>
  </div>
  <div class="navCard">
    <a [routerLink]="['/opciones']"
      ><img src="../../../assets/navBar/tres-puntos.png" alt="opciones"
    /></a>
  </div>
</nav>
