// .gallery {
//   width: 100%;
//   height: 100%;

//   padding: 16px;
// }
// .image-container {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;

//   gap: 25px;

//   .image-card {
//     width: 100%;
//     max-width: 450px;
//     height: 250px;

//     img {
//       width: 100%;
//       height: 100%;

//       object-fit: cover;
//     }
//   }
//   h2 {
//     font: var(--color-primary-blue);
//   }
// }
/* Estilos para la galería de animales */



:host {
  color: rgb(1, 116, 142);
}
.animAdop {
  border-radius: 5%;
}
.contenedorAnimales {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/// para cada imagen  DEL BUCLE GALERIA
.animal {
  display: inline-block;
  position: relative;
  margin: 8px; /* Espacio  los div contenedores entre animales */
}

.imagen-container {
  position: relative;
  overflow: hidden;
  display: inline-block; /* Hace que el contenedor ocupe solo el ancho necesario */
  border: none;
}

.imagen {
  width: 400px; /* Tamaño mediano */
  height: 250px; /* Tamaño mediano */
}
.imagen {
  display: block; // Elimina el espacio adicional que puede agregar el elemento img
  width: 100%; // Ajusta la imagen al ancho del contenedor
  height: auto; // Permite que la imagen mantenga su relación de aspecto
}

.favorito-button {
  position: absolute; // Posiciona el botón de favorito en relación con el contenedor de la imagen
  top: 5px;
  right: 5px;
  background: transparent;
  border: none;

}
.animal {
   border: 2px solid #3cc1c360;
   border-radius: 10px;
   overflow: hidden;
 }

//contenedor de los botnoes
 .botones {
   display: flex;
   justify-content: space-between;
   padding: 10px;
 }
//ataca a los botoness
 .botones button {
   padding: 8px 16px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
 }

 .botones button:hover {
   background-color: #ddd;
 }
///HASTA AQUI BUCLE GALERIA

.estadoA{
  display: flex;
  margin-top: 20px;
  border: 2px solid #3cc1c360;
  margin-bottom: 20px;
  border-radius: 30px;
  justify-content: center;

}

.tituloF{
  display: flex;
  justify-content: space-between;
}
.animal {
  border: 2px solid #3cc1c360;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  width: 350px;
  margin-bottom: 12px;
}

//contenedor de los botnoes
.botones {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
//ataca a los botoness
.botones button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.mat-icon {
  color:#FA9C92; /* Cambia el color del ícono */
}
///HASTA AQUI BUCLE GALERIA

.estadoA {
  display: flex;
  margin-top: 20px;

  margin-bottom: 20px;

  justify-content: center;

  border-radius: 5px;
  border: 0.3px solid rgba(189, 210, 214, 0.3);
}

.tituloF {
  display: flex;
  justify-content: space-between;
}

.input_buscador {
  width: 50%;
  border: none;
  outline: none; // Esto quita la marca al escribir
}
.buscador {
  width: 113px;
  height: 25px;
  border-radius: 5px;
  border: 0.3px solid rgba(189, 210, 214, 0.3);
}
.modalAbrir{
.buscador:focus-within {
  border-color: rgb(
    32,
    174,
    84
  ); //feed paa el usuario para que sepa q esta en el input
}
.modalAbrir {
  top: 10px;
  right: 10px;
  background: transparent;
  color: #e91c1c;
  border: none;
}
}