<section class="gallery">
  <div>
    <input
      type="text"
      [(ngModel)]="textoBusqueda"
      (input)="buscar(textoBusqueda)"
      placeholder="Buscar..."
    />
  </div>
  <div>
    <button mat-button (click)="abrirModal()">Abrir Filtro</button>
  </div>

  @if (resultados.length > 0) {
  <div class="image-container">
    @for (animal of resultados; track $index) {
    <div class="image-card">
      <img
        class="img"
        src="{{ animal.foto }}"
        alt="foto"
        routerLink="/gallery/{{ animal._id }}"
      />
    </div>
    <h2>{{ animal.nombre }}</h2>
    }
  </div>

  } @if (resultados.length === 0) {
  <div>
    <p>No se encontraron resultados.</p>
  </div>
  }
</section>
<!-- <app-nav-bar></app-nav-bar> -->
