

<button routerLink="/perfil">VOLVER</button>
<button routerLink="/favoritos">ir a a favoritos </button>

<h1>Animales en Adopción</h1>
<div>
  <input type="text" [(ngModel)]="textoBusqueda"  (input)="buscar(textoBusqueda)" placeholder="Buscar...">
</div>
<div>
  <button mat-button (click)="abrirModal()">Abrir Filtro</button>
</div>


  @if (resultados.length > 0) {
  <div class="image-container">
    @for (animal of resultados; track $index) {

    <h1>{{ animal.nombre }}</h1>
    <div class="imagen-container">
      <img class="imagen" src="{{ animal.foto }}" alt="foto" routerLink="/gallery/{{animal._id}}" />
    </div>
    <button mat-icon-button (click)="marcarFavorito(animal)">
      <mat-icon>{{ animal.favorito ? 'favorite' : 'favorite_border' }}</mat-icon>
    </button>}

  </div>


</div>
}

    <div class="image-card">
      <img
        class="img"
        src="{{ animal.foto }}"
        alt="foto"
        routerLink="/gallery/{{ animal._id }}"
      />
    </div>
    <h2>{{ animal.nombre }}</h2>

    }</div>
 


  } @if (resultados.length === 0) {
  <div>
    <p>No se encontraron resultados.</p>
  </div>
  }

<!-- <app-nav-bar></app-nav-bar> -->
