<div>
  <label for="especie">Especie:</label>
  <input type="text" id="especie" [(ngModel)]="especie">
</div>
<div>
  <label for="genero">genero:</label>
  <select id="genero" [(ngModel)]="genero">
    <option value="" disabled selected>Selecciona la genero</option>
    <option value="Hembra">Hembra</option>
    <option value="Macho">Macho</option>

  </select>
</div>
<div>
  <label for="edad">Edad:</label>
  <input type="number" [(ngModel)]="edad">
</div>
<div>
  <label for="ciudad">Ciudad:</label>
  <select id="ciudad" [(ngModel)]="ciudad">
    <option value="" disabled selected>Selecciona la ciudad</option>
    <option *ngFor="let ciudad of ciudades" [value]="ciudad">{{ ciudades }}</option>
  </select>
</div>
<div>
  <label for="size">Tamaño:</label>
  <select id="size" [(ngModel)]="size">
    <option value="" disabled selected>Selecciona el tamaño</option>
    <option *ngFor="let size of sizes" [value]="size">{{ size }}</option>
  </select>
</div>

<div>
  <button (click)="aplicarFiltros()">Aplicar Filtros</button>
  <button (click)="borrarFiltros()">Borrar Filtros</button>
  <button (click)="cerrarModal()">Cerrar</button>
</div>
