<!-- <div class="modal">
  <div class="modal_body"> -->
    <h2>Filtros</h2>


    <app-especies
      (filtradoEspecies)="showFilteredEspecie($event)"
    ></app-especies>
    <app-sexo (filtradoSexo)="showFilteredSexo($event)"></app-sexo>
    <app-size (filtradoSize)="showFilteredSize($event)"></app-size>
    <app-edad (filtradoEdad)="showFilteredEdad($event)"></app-edad>
    <app-ciudad (filtradoCiudad)="showFilteredCiudad($event)"></app-ciudad>

    <button (click)="borrarFiltros()">borre filtros</button>
    <button (click)="aplicarFiltros()">aplique filtros</button>
    <button (click)="cerrarFiltro()">Cerrar</button>
  <!-- </div>
</div> -->
