

/* Estilos CSS para el modal */
.modal-content {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 8px;
  margin: 5px 0 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button img {
  width: 50px;
  height: 50px;
}

.buttons {
  margin-top: 20px;
}

.no-results {
  color: red;
  margin-top: 10px;
}

/* Estilos específicos para cada sección */
.ciudad, .especie, .edad, .genero, .size {
  margin-bottom: 20px;
}

/* Estilos para los botones de filtro */
.filtro-seleccionado {
  background-color: rgba(203, 163, 52, 0.713); /* Rojo con transparencia */

}

.genero{

  display: flex;
  flex-direction: column;

}
.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(250, 156, 147); /* Color RGB */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttons button:hover {
  background-color: rgba(250, 156, 147, 0.8); /* Color RGB con transparencia */
}

//para pantallas se aplica
//min-width: 200px,  significa que los
// estilos dentro de esta regla se aplicarán
//cuando el ancho de la ventana del navegador
// sea de al menos 200 píxeles.
 @media (min-width: 200px) {
   .modal-content {
    left: 0px;
    top: 0px;
    height: min-content;
    position: fixed;
   }
 }

 //para patanllas grandes
 @media (min-width: 992px) {
   .modal-content {
    left: 0px;
    top: 0px;
    height: min-content;
    position: fixed;
   }
 }


//  .modal .modal-content {
//    max-height: max-content;
//    background-color: #ffffff; /* Color de fondo del cuerpo del modal */
//  max-width: max-content;
//    border-radius: 10px; /* Radio de borde del cuerpo del modal */
//  }
