/* You can add global styles to this file, and also import other style files */
:root {
  --color-bg-white: rgb(255, 255, 255);
  --color-primary-blue: rgb(0, 133, 153);
  --color-primary-lightblue: rgb(211, 225, 227);
  --color-primary-blue-off: hsl(189, 100%, 98%);
  --color-stand-out-red: rgb(250, 156, 147);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

a {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
