.home {
  position: relative;
  width: 100%;;
  top: 0;
  display: flex;
  flex-direction: column;
align-items:center;}

.container-img img{
  width: 200px;
  margin-bottom: 30px; /* Baja el contenedor del logo */
  margin-left: auto; /* Centra horizontalmente el contenedor */
  margin-right: auto;
  margin-top: 25px;
align-items: center;}

.usuario {
  font-size: 25px;
  color: rgb(1, 116, 142);
  padding-left: 20px;
width: 100%;
}

.novedades {
  color: rgb(1, 116, 142);
  font-size: 16px;
  padding-left: 20px;
width: 100%;
margin-top: 22px;
}

.gallery {
  border: 3px solid rgb(250, 156, 147);
  border-radius: 4px;
  width: 90%;
  background-color: rgb(250, 156, 147);
  margin-bottom: 20px;


  & p {
    color: white;
    height: 10px;
    font-size: 18px;
    text-align: center;
  }
}
.adoption-section {
  display: flex;
  background-color: #BDD2D6;
  flex-direction: row; /* Cambia la dirección a horizontal */
  height: 70px;
  align-items: center; /* Alinea verticalmente el contenido */
  padding: 10px; /* Ajusta el espacio interno */
  width: 90%;  
}

.pet-info {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.pet-image {
  width: 50px;
  height: auto;
  margin-right: 20px;
}

.info-text-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
height: 60px;}
.info-text-container h3 {
  margin-bottom: 4px; 
  color: var(--color-primary-blue);
}

.info-text-container p {
  margin-top: 4px;
  font-size: 10px;
}
.progress-bar {
  height: 20px;
  background-color: #dddddd3f;
  border-radius: 10px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #4CAF50;
  border-radius: 10px;
  width: 0;
  transition: width 0.5s ease;
}
.separator {
  width: 90%; 
  height: 2px;
  background-color: #ccc; 
  margin-top: 20px;  
}

