<div class="home">
  <div class="container-img">
    <img src="../../assets/login_logo/logo@3x.png" >
  </div>
  <div class="usuario">
    <p>¡Hola!</p>
  </div>

  <div class="adoption-section" routerLink="/adopcion">
    <div class="pet-info">
      <img src="../../assets/navBar/mascota@3x.png" class="pet-image">
      <div class="info-text-container">
          <h3>Estado de la adopción</h3>
          <p>Revisa el proceso de tus adopciones en curso</p>
        </div>
    </div>
  </div>
  
  <div class="separator"></div>

  <div class="novedades">
    <p>Novedades</p>
  </div>

  <div class="gallery">
    <a routerLink="/ruta-componente-1"
      ><img src="../../assets/home/home1.png" alt="1" />
      <p>10 Curiosidades sobre las chinchillas</p>
    </a>
  </div>
  <div class="gallery">
    <a routerLink="/ruta-componente-2">
      <img src="../../assets/home/home2.png" alt="2" />
      <p>¿Sabes qué comen las iguanas?</p>
    </a>
  </div>

  <div class="gallery">
    <a routerLink="/ruta-componente-3"
      ><img src="../../assets/home/home3.png" alt="3" />
      <p>10 lugares para visitar con tu perro en Madrid</p>
    </a>
  </div>
  <app-nav-bar></app-nav-bar>
</div>
