<section class="profContainer">
  <ul class="container-list">
    <li class="list-item">
      <a [routerLink]="['#']"
        ><div class="list-item-icon">
          <img
            src="../../../assets/primary_icons/little_icons_primary/protectora_little/protectora@3x.png"
            alt="icono"
          />
        </div>
        <p class="list-item-text">Asociaciones protectoras</p></a
      >
    </li>
    <li class="list-item">
      <a [routerLink]="['/direcciones']"
        ><div class="list-item-icon">
          <img
            src="../../../assets/primary_icons/little_icons_primary/eventos_little/eventos@3x.png"
            alt="icono"
          />
        </div>
        <p class="list-item-text">Eventos</p></a
      >
    </li>
    <li class="list-item">
      <a [routerLink]="['/favoritos']"
        ><div class="list-item-icon">
          <img
            src="../../../assets/primary_icons/little_icons_primary/blog_little/blogCopy@3x.png"
            alt="icono"
          />
        </div>
        <p class="list-item-text">Curiosidades</p></a
      >
    </li>
    <li class="list-item">
      <a [routerLink]="['#']"
        ><div class="list-item-icon">
          <img
            src="../../../assets/primary_icons/little_icons_standOut/help_little_standOut/ayuda@3x.png"
            alt="icono"
          />
        </div>
        <p class="list-item-text">Ayuda</p></a
      >
    </li>
    <li class="list-item">
      <a [routerLink]="['#']"
        ><div class="list-item-icon">
          <img
            src="../../../assets/primary_icons/little_icons_primary/confi_little/confi@3x.png"
            alt="icono"
          />
        </div>
        <p class="list-item-text">Configuración</p></a
      >
    </li>
  </ul>
  <!-- Separación semántica -->
  <ul class="container-list">
    <li class="list-item">
      <a [routerLink]="['#']"
        ><div class="list-item-icon">
          <img
            src="../../../assets/primary_icons/little_icons_primary/out_little_cambiar/salir@3x.png"
            alt="icono"
          />
        </div>
        <p class="list-item-text">Cerrar sesión</p></a
      >
    </li>
  </ul>
  <app-nav-bar></app-nav-bar>
</section>
