.profContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;

  color: var(--color-primary-blue);
}

.container-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  padding: 0;
  margin-bottom: 50px;
  margin: 25px 0 25px 0;

  width: 90dvw;
  max-width: 400px;

  .list-item {
    border: 1px solid var(--color-primary-lightblue);
    border-radius: 3%;

    width: 100%;
    height: 50px;

    &:hover {
      transform: translateY(-2px);
      background-color: var(--color-primary-blue-off);
    }

    a {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      gap: 15px;
      padding-right: 25px;

      width: 100%;
      height: 100%;
    }

    &-icon {
      width: 30px;
      height: 30px;

      margin: 2px 0 2px 12px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-btn {
      color: var(--color-primary-blue);
      background-color: var(--color-primary-blue-off);
      border: 0.5px solid var(--color-primary-blue);
      border-radius: 3%;

      width: 100%;
      height: 50px;
    }
  }
  p {
    margin: 0;
  }
}
