
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding: 0 16px;
    box-sizing: border-box;
}

.logo {
    width: 200px;
    margin-bottom: 25px;
}

h2 {
    font-size: 1.4rem;
  font-weight: 590;
    margin-bottom: 40px;
    text-align: center;
    color: var(--color-primary-blue);
}

form {
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;

}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    line-height: 1.5;
    position: relative;
    margin-bottom: 20px;
    color: var(--color-primary-blue);
}

.forgot-password {
    text-align: right;
    margin-top: 8px;
    color: var(--color-primary-blue);
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}

.submit {
    background-color: var(--color-primary-blue);
    color: white;
}

.contrase単a-ojo {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .contrase単a-ojo .eye-btn {
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 0%;
    padding: 0%;
    display: inline;
    width: 60px;
    top: -7px
  }
  
  .contrase単a-ojo input-password {
    width: 100%;
  }
  .ojo{
    height: 50px;
    width: auto;
    top: -50%;
  }
  .label-contrase単a{
    position: relative;
    width: 100%;
  }
  .btn-login{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: var(--color-primary-blue);
    color: white;
  }